
.youtube-icon{
    width: 25px;
    margin-bottom: 1px;
}

.video-title{
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    margin-top: 7px;
    width: 200px;
    line-height: 13px;
    margin-bottom: 4px;
}

.youtube-thumbnail{
    width: 250px;
}

.video-stats{
    font-size: 8px;
    font-family: arial;
    color: rgb(118, 118, 118);
    margin-top: 0px;
}

.author{
    font-size: 8px;
    font-family: arial;
    color: rgb(77, 77, 77);
    margin-top: 15px;
}

.video-description{
    width: 200px;
    font-size: 8px;
    font-family: arial;
    color: rgb(77, 77, 77);
    margin-top: 6cqi;
    line-height: 12px;
}

.apple-icon{
    margin-top: 25px;
    width: 15px;
    margin-bottom: 0px;
}

.advertisement{
    font-size: 7.5px;
    color: white;
    background-color: rgb(204, 42, 42);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    margin-top: 5px;
    width: 215px;
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
}